
body{
    margin: 0;
    background-color: rgb(253, 210, 131);   
}

.ilustra-div{
   display: flex;
    width: 200px;
}

.ilustra{
    display: flex;
    width: 170px;
    border-radius: 50%;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.introduction{
    display: flex;
    float: left;
}
.media{
    display: flex;
    float: right;
}